<div class="container">
  <div class="login_content">
    <mat-card>
      <form [formGroup]="form" class="row" (ngSubmit)="submitForm()">
        <label id="label"> PopCorn </label>
        <mat-form-field appearance="fill" floatLabel="always" id="email">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            class="example-right-align"
            placeholder=""
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" id="password">
          <mat-label>Senha</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            id="eye"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div id="submit">
          <button mat-raised-button color="primary">Enviar</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
